.home-partners {
    position: relative;
    z-index: 13;
    background-color: $placeholder;
    padding: 155px 0 30px;
    margin-top: -105px;

    .heading {
        margin-bottom: 20px;
        font-family: $font-top;
        color: $primary;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        line-height: 54px;

        @media #{$min-md} {
            font-size: 50px;
            line-height: 65px;
        }
        @media #{$min-lg} {
            font-size: 60px;
            line-height: 76px;
        }
    }

    .eleven {
        display: block;
        margin: 0 auto 30px;
    }

    .info-text {
        margin-bottom: 30px;
        color: $primary;
        font-size: 16px;
        line-height: 22px;

        @media #{$min-md} {
            font-size: 17px;
            line-height: 23px;
        }
        @media #{$min-lg} {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .button {
        width: 255px;
        text-align: center;

        &:focus-visible {
            background-color: $secondary;
            color: $primary;
        }

        &:hover {
            background-color: $secondary;
            color: $primary;
        }
    }

    .partner-box {
        background-color: $primary;
        max-width: 255px;
        height: 78px;
        margin: 0 auto 20px;
    }
}
