.header {
    height: 125px;
}

.navbar {
    background-color: $primary;
    max-height: 100%;
    overflow: auto;
    padding: 30px 20px;
    border-bottom: 5px solid $secondary;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-link {
        padding: 15px;
        margin: 0 7.5px;
        font-family: $font-top;
        font-size: 25px;
        text-transform: uppercase;
        color: $white;

        &:hover {
            color: $secondary;
            text-decoration: none;

            path,
            circle {
                fill: $secondary;
            }
        }

        &:focus-visible {
            color: $secondary;
            text-decoration: none;

            path,
            circle {
                fill: $secondary;
            }
        }

        @media #{$min-xl} {
            padding: 0 15px;
        }
    }
}

.navbar-toggler {
    background-color: $transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
    min-height: 55px;
    margin: 0;
    padding: 0;
    border: none;

    .toggler-icon {
        position: relative;
        background-color: $white;
        width: 40px;
        height: 6px;
        border-radius: 3px;
        transition: transform 0.3s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            background-color: $white;
            width: 40px;
            height: 6px;
            border-radius: 3px;
            transition: transform 0.3s;
        }

        &::before {
            top: -13px;
        }

        &::after {
            top: 13px;
        }
    }

    &[aria-expanded="true"] {
        .toggler-icon {
            transform: rotate(-45deg);

            &::before {
                transform: translateY(13px) rotate(90deg);
            }

            &::after {
                transform: translateY(-13px) rotate(90deg);
            }
        }
    }
}
