$font: cairo, sans-serif;
$font-top: clan-pro;

$transparent: transparent;
$white: #FFFFFF;
$black: #000000;
$red: #CB181C;
$placeholder: #EEEEEE;

$shadow: rgba(0,0,0,0.66);
$border: rgba(3,13,62,0.2);

$gold: #F9CF23;
$gray: #F1F1F1;

$bg-color: #E4E4E4;
$bg-dark: #010721;

$primary: #030D3E;
$secondary: #FFCB00;
$content: #0A1443;
$contact: #111A48;

$primary-url: '%23030D3E';

$min-sm: '(min-width: 576px)';
$min-md: '(min-width: 768px)';
$min-lg: '(min-width: 992px)';
$min-xl: '(min-width: 1200px)';
$min-xxl: '(min-width: 1700px)';
